{% extends "_base.html" %}
{% load static %}

{% block page_content %}
<div  class="py-2 bg-SereneBeige pl-2 max-w-full">
    <div class="flex flex-wrap justify-start items-start gap-4  overflow-y-auto">
        {% if posts %}
        {% for post in posts %}
            <div class="w-96 bg-white shadow-md border border-gray-200 rounded-lg">
                <a href="#">
                    {% if post.image %}
                        <img class="h-60 w-full object-cover rounded-lg" src="{{ post.image.url }}" alt="{{ post.title }}">
                    {%else%}
                        <img class="h-60 w-full object-cover rounded-lg" src="{% static "blog_posts/placeholder.png" %}" alt="{{ post.title }}">
                    {% endif %}
                </a>
                <div class="p-4">
                    <!-- Author's Section -->
                    <div class="flex items-center space-x-4 mb-4">
                        <!-- Author Avatar -->
                        <div class="h-10 w-10 rounded-full bg-gray-200 border-2 border-SerenePink flex-shrink-0">
                            {% if post.author.image %}
                                <img width="30" class="h-full w-full object-cover rounded-full" src="{{ post.author.image.url }}" alt="{{post.author.first_name}} {{post.author.first_name}}">
                            {% else %}
                                <svg class="h-full w-full object-cover rounded-full" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z" stroke="#13472E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M12 14C8.13401 14 5 17.134 5 21H19C19 17.134 15.866 14 12 14Z" stroke="#13472E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                            {% endif %}
                        </div>
                        <!-- Author Name -->
                        <span class="text-sm font-medium text-SerenePink">{{ post.author }}</span>
                    </div>
                    <!-- Post Title -->
                    <a href="#">
                        <h5 class="text-SereneGreen font-bold text-2xl tracking-tight mb-2">{{ post.title }}</h5>
                    </a>
                    <!-- Post Content -->
                    <p class="text-gray-700">{{ post.content | truncatechars:64 }}</p>
                    <!-- Read More Link -->
                    <a class="block text-center mt-4 text-white bg-SerenePink hover:bg-SerenePink-800 focus:ring-4 focus:ring-SerenePink-300 font-medium rounded-lg text-sm px-3 py-2" href="{% url 'blog_details' post.id %}">Read more</a>
                </div>
            </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock page_content %}
