{% extends "_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_content %}
<div style="background-image: url('{% static 'blog_posts/kelly-sikkema-NU_rR7TgE-M-unsplash.jpg' %}'); background-size: cover; background-repeat: no-repeat; background-position: center;" class="h-screen rounded-lg pb-2 w-full overflow-y-auto">
    <div class="2xl:mx-auto 2xl:container mx-4 py-16">
        <div class="w-full relative flex items-center justify-center">
            <div class="rounded-lg bg-gray-800 bg-opacity-80 md:my-16 lg:py-16 py-10 w-full md:mx-24 md:px-12 px-4 flex flex-col items-center justify-center relative z-40">
                <h1 class="text-4xl font-semibold leading-9 text-white text-center">Don’t miss out!</h1>
                <p class="text-base leading-normal text-center text-white mt-6">
                    Subscribe to our newsletter to stay in the loop. Our newsletter is sent once a week on every Friday so subscribe to get the latest news and updates.
                </p>
                <div class="sm:flex items-center mt-10 xl:pb-0 pb-32">
                    <form method="post" class="rounded-lg bg-white flex-row sm:flex-row flex items-center w-full mt-12 space-y-4 sm:space-y-0">
                        {% csrf_token %}
                        <div class="flex items-center bg-gray-100 lg:w-96 w-full">
                            <div class="px-4 py-4">
                                <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/newsletter-IV-svg1.svg" alt="email-icon"> 
                            </div>
                            {{ form.email }}
                        </div>
                        <button type="submit" class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 hover:bg-black text-base font-medium leading-none text-white py-4 px-6 bg-gray-800 sm:ml-2 sm:w-auto w-full sm:mt-0 mt-4 dark:bg-white dark:text-gray-900 dark:hover:bg-gray-100">Subscribe</button>
                    </form>
                    {% if form.errors %}
                        <div class="text-base leading-normal text-center text-white mt-6">
                            {{ form.errors.email }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}
