{% extends "_base.html" %}
{% block page_content %}
<div style="background-image: url('../static/blog_posts/kelly-sikkema-NU_rR7TgE-M-unsplash.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;" class="h-screen rounded-lg pb-2 w-full overflow-y-auto">
    <div class="2xl:mx-auto 2xl:container mx-4 py-16">
        <div class="w-full relative flex items-center justify-center">
            <div class="rounded-lg bg-gray-800 bg-opacity-80 md:my-16 lg:py-16 py-10 w-full md:mx-24 md:px-12 px-4 flex flex-col items-center justify-center relative z-40">
                <h1 class="text-4xl font-semibold leading-9 text-white text-center">Thank You for Subscribing!</h1>
                <p class="text-base leading-normal text-center text-white mt-6">You've successfully subscribed to our newsletter. Check your email for the latest updates!</p>    
            </div>
        </div>
    </div>
</div>

{% endblock page_content %}
